= simple_form_for @office_map, html: { class: 'form-horizontal' } do |f|
  - f.with_options input_html: { class: 'col-md-6' } do |f|
    = f.input :link
  .form-actions
    = f.button :submit, t('save'), class: 'btn btn-primary'
    = link_to t('cancel', default: t("helpers.links.cancel")), contacts_welcome_index_path, class: 'btn'
