%h1
  = t('.about')
  %span.eng_symbols Sky Dance
%span - У нас удобное расположение - в самом центре города
%br
%span - У нас огромный выбор танцевальных направлений
%br
%span - Все наши преподаватели - это дипломированные и титулованные хореографы.
%br
%span - В нашей школе танцев Вас ждут не только занятия, но и всевозможные мероприятия, концерты, выступления, а также встречи за пределами школы.
%br
%span - В нашей школе работает профессиональная команда, которая дала путевки в жизнь многим начинающим хореографами и танцорам! Мы всегда гарантируем качественный подход к обучению, наш дружный коллектив в этом поможет!
%br
%span В школе танцев "SKY DANCE" есть все для отличных подготовок к Чемпионатам, концертам и шоу-программ! Наши преподаватели профессионально подготовят всех желающих. Так же у нас установлены специальные двухрежимные пилоны для качественной подготовки, которые соответствуют стандартам :) Только для вас - статичные и крутящиеся пилоны!
