%h1
  = t('about')
%hr
.row-fluid{ align: :justify }
  .col-md-10
    %h5
      %span.eng_symbols Sky Dance
      %span - это уникальный танцевальный центр, несколько комфортабельных евро-залов, целых 6 пилонов для любимых клиентов, а также уникальное приспособление для занятий - впервые в городе -Воздушное кольцо. Множество самых модных и ярких танцевальных направлений и, конечно, сертифицированные, самые титулованные и позитивные преподаватели, которые научат вас танцевать.
      %br
      %br
      %span Вас ждут НУ ОООЧЕНЬ МНОГО сюрпризов, о которых вы даже не догадываетесь! ТЕПЕРЬ ТАНЦЫ - ЭТО НЕ ХОББИ, А ОБРАЗ ЖИЗНИ! ;)sky dance -это п ервая в ульяновске профессиональная школа POLE DANCE! Только у нас эксклюзивные в городе и области занятия на статичных и крутящихся пилонах, а так же огромное количество танцевальных направлений с лучшими дипломированными педагогами.
      %br
      %span Мы проводим отчетные концерты для учеников, учавствуем в городских мероприятиях.
      %br
  .row-fluid.photos
    .col-md-5
      %img.img-polaroid{ src: "http://cs314625.vk.me/v314625602/1ef5/u2NbFYYseyw.jpg" }
    .col-md-5
      %img.img-polaroid{ src: "http://cs314625.vk.me/v314625602/1f10/6dpSeG9b9KA.jpg" }

  .row-fluid.photos
    .col-md-5
      %img.img-polaroid{ src: "http://cs314625.vk.me/v314625602/2108/DU3wY4Xr-hw.jpg" }
    .col-md-5
      %img.img-polaroid{ src: "http://cs314625.vk.me/v314625602/21d5/3nD5xPpOmFE.jpg" }
  %h5
    %br
    %span Участвуем в соревнованиях и конкурсах, и просто собираемся за пределами студии.
    %br
    %span В
    %span.eng_symbols SKY DANCE
    %span очень веселая и насыщенная событиями атмосфера. Приходи и ты!

%a.btn.btn-large{ href: teachers_path }= t 'teachers'
%a.btn.btn-large{ href: genres_path }= t 'dances'
%a.btn.btn-large{ href: schedule_path }= t 'schedule'
