@font-face {
  font-family: micfont;
  src: url(/fonts/BRDWAYN.TTF)
}

body {
  font-family: micfont;
  padding-top: 10px;
  padding-bottom: 100px;
  background-image: url(header.png);
  background-color: #a2cdc0;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.navbar-opacity-white {
  opacity: 0.9;
  background-color: #ffffff;
}

.navbar-margin-top {
  margin-top: 400px;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -khtml-border-radius:10px;
}

.navbar-big-text {
  font-size: 11pt;
}

.content {
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -khtml-border-radius:10px;
  background-color: white;
  padding: 10px;
  min-height: 300px;
  opacity: 0.9;
  width: 925px;
}

.main-logo {
  position: absolute;
  margin-top: 80px;
  margin-left: 100px;
}

.logo-sky-dance {
  width: 300px;
  height: 200px;
  background-image: url(logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

