.table-aligned {
  table-layout: fixed;
  text-align: center;
}

.mini {
  width: 50px;
  height: 50px;
}

.micro-photo {
  position: relative;
  width: 30px;
  height: 30px;
  float: left;
}

.micro-text-with-photo {
  position: relative;
  float: left;
  width: 50px;
  margin-left: 5px;
  line-height: 15px;
}

.margin-top {
  margin-top: 5px;
}

.margin-bottom {
  margin-bottom: 5px;
}

.micro-text {
  font-size: 9pt;
}

.red_cells {
  background-color: red;
}

.very-small-text {
  font-size: 8pt;
}

.lesson-time-text {
  font-size: 25pt;
}

.first-column {
  width: 120px;
}

.ident {
  width: 15px;
  height: 15px;
  float: left;
  margin: 2px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.there_places {
  background-color: green;
}

.there_not_places {
  background-color: red;
}

.group_formed {
  background-color: yellow;
}
