.main-photo {
  max-height: 500px;
}

.micro-text-with-photo {
  position: relative;
  float: left;
  width: 50px;
  margin-left: 5px;
  line-height: 15px;
}

.news_cell {
  bottom: 0px;
}


.field textarea {
  height: 100px;
}

.field textarea:focus {
  height: 500px;
}

