= simple_form_for @category, :html => { :class => 'form-horizontal' } do |f|
  = f.input :describe
  = f.button :submit
  = link_to t('.cancel', :default => t("helpers.links.cancel")), new_group_path, :class => 'btn'
