= render 'form'

- @categories.each do |cat|
  = label_tag cat.describe
  = link_to t('.edit'), edit_category_path(cat), :class => 'btn btn-warning margin-bottom'
  = link_to t('.destroy'), cat, :method => :delete, :data => { :confirm => t('.confirm') }, :class => 'btn btn-danger margin-bottom'
