.span4.offset4{ :name => "footer" }
  %h3= t('.about_us')
  %a{ :href => about_welcome_index_path }= t('.about_us')
  %br
  %a{ :href => schedule_path }= t('.schedule_and_prices')
.span4
  %h3= t('.contacts')
  =t ('.phone')
  %h3 8 (8422) 70-02-28
